/* BASE ELEMENTS */
*, 
*:before,
*:after {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #f1f5f8;
}

p {
 font-size: 1.75em;
 font-weight: bold;
}

span {
  font-size: 1.4em;
  margin-left: 70px;
}

/* HEADER | NAVIGATION */
h2 {
  color: #fff;
  margin: 5px;
  padding-left: 20px;
  text-align: left;
}

nav {
  background: #fff;
  box-shadow: 0 0 5px 5px #d3d3d3;
  display: flex;
    align-items: center;
    justify-content: space-around;
  height: 50px;
  padding: 20px;
}

nav ul li {
  display: inline-block;
  font-size: 1.1em;
  list-style: none;
  padding: 10px;
}

nav a:hover {
  font-weight: bold;
  color: #6a5acd; 
}

nav a:visited {
  color: red;
  font-weight: bold;
}

nav a:hover,
.color-btn:hover {
  transform: scale(1.1);
}

h4, 
nav li:hover {
  color: #6a5acd;
}

/* || MAIN ELEMENTS */

/* Main container */
.container {
  margin: 3% auto;
  padding: 40px;
  min-width: 700px;
  max-width: 1000px;  
  transform: translateY(50%);
}

.container,
.color-window {
   border-radius: 5px;
   display: grid;
}

/* Color window */
.color-window {
  align-items: center;
  background: #000;
  min-height: 100px;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

/* Color button */
.color-btn {
  background-color: transparent;
  border: solid #000;
  border-radius: 5px;
  color: #000;
  justify-self: center;
  font-size: 1.2em;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
 
}

.color-btn:hover,
.color-btn:active, {
  background-color: #000;
  border: solid #fff;
  color: #fff;
}

.color-btn,
nav {
  cursor: pointer;
}